@media (min-width:200px) and (max-width:800px) {
    body{
        overflow-x: hidden !important;;
    }
    /* header */

    /* hero */
    .heroSection {
        display: none;
    }

    .inner-info,
    .bottom-info,
    .right-main,
    .section1,
    .section2 {
        display: none;
    }

    .searchbox {
        display: flex;

        >form {
            width: 300px;
        }
    }

    /* section3 */
    .section3 {
        margin: 1vw;
    }

    .section3-box-up {
        display: none;
    }

    .section3-box-down {
        flex-direction: column;
    }

    .right-top {
        width: 60vw;
    }

    .data-icon {
        margin-left: 2vw;
    }

    /* testimonials */

    .testimonials {
        padding: 4vw;

        >h2 {
            font-size: 20px;
        }
    }

    .testimonials p:nth-child(2) {
        width: 50%;
    }

    .testimonials p:nth-child(3) {
        width: 70%;
    }

    .testi-img-box img {
        width: 40px;
        height: 40px;
    }

    /* Contact  */
    .contact {
        >form {
            width: 60%;

            >input {
                width: 30vw;
            }

            >button {
                width: 20vw;
            }
        }
    }

    /* Footer */
    .f-top {
        flex-direction: column;
        gap: 10px;
    }

    .f-data p {
        font-size: 18px;
    }

    .f-bottom {
        flex-direction: column;
        padding: 0;
    }
}